<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Excel</title>
</head>
<body>
<form th:action="@{/image}" method="POST" enctype="multipart/form-data">
    <input type="file" th:name="excelFile">
    <input th:type="submit" value="제출" />
</form>
<br><br>
<table class="table table-striped">
    <tbody>
    <tr th:each="image : ${images}" >
        <td>
            <img th:src="${image}" width="100" height="100">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>